:root {
  --primary-text-color: #212121;
  --second-text-color: #ffffff;
  --accent-color: #2196f3;
  --hero-bg-color: #2f303a;
  --paragraph-color: #757575;
  --link-color: #757575;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --first-button-color: #ffffff;
  --second-button-color: #212121;
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--second-text-color);
  color: var(--primary-text-color);
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* ------HEADER------ */

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-color);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.header {
  background-color: #ffffff;
}
.header-navigation {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header-item {
  display: flex;
  align-items: center;
  margin: 0 25px;
  font-weight: 500;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.site-nav .header-link.current {
  color: var(--accent-color);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo span {
  color: var(--primary-text-color);
}

.a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* ------HERO------ */
.hero {
  background-color: var(--hero-bg-color);
  color: var(--second-text-color);
  text-align: center;
  text-transform: uppercase;
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.06em;
  flex-direction: column;
  color: var(--second-text-color);
}
.hero-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-button-color);
}
.hero-button {
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* Sections */
.title {
  color: var(--primary-text-color);
}

.description-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  margin-bottom: 30px;
}

/* ------ABOUT------ */

.about-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.about-item {
  mix-blend-mode: normal;
}

/* ------TEAM------ */

.team-section {
  background-color: var(--team-bg-color);
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
}

/* ------FOOTER------ */
.logo-white span {
  color: var(--second-text-color);
}

.footer {
  background: var(--footer-bg-color);
  color: var(--second-text-color);
}
.footer-design {
  width: 1170px;
  margin: 0 auto;
}
.footer-contacts {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);
  margin-bottom: 9px;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.footer-item > a.adress {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  font-style: normal;
}
/* --------------------PORTFOLIO-------------------- */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio-item {
  display: flex;
  flex-direction: column;
}

.menu-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-button-color);
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: #f5f4fa;
  border-radius: 4px;
}

.menu-button:hover,
.menu-button:focus {
  background-color: var(--accent-color);
  color: var(--second-text-color);
}

.active {
  color: var(--second-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ------БЕЗ ЗАГОЛОВКОВ------ */
.headen {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
